* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

.mybrand{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 35px;
    color: white;
}
body {
    padding-top: 70px;
}

.under-construction{
    font-size:100px;
    color:red;
    text-align: center;
}
.navbar-item-font{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 19px;
}